<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/stylesheet.css" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="author" content="nata.house" />
    <meta
      name="keywords"
      content="hacktoberfest 2020, natahouse, open source, github, digital ocean"
    />
    <meta
      name="Description"
      content="Venha aprender como contribuir para a comunidade open source no
    maior evento do ano, e de quebra ganhar uma camisa ou plantar uma
    árvore."
    />
    <meta
      property="og:image"
      content="https://hacktoberfest-nh-2020.web.app/assets/images/hacktoberfest-nh-2019.JPG"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>SEU NOME AQUI</title>
  </head>

  <body>
    <div class="hero">
      <img
        class="profile-image"
        src="../natahouse/profile.png"
      />
    </div>

    <main>
      <div class="container">
        <h1>Olá! Eu sou SEU NOME AQUI!</h1>

        <p class="description">
          ALGUM TEXTO LIVRE SOBRE VOCÊ
          <br />
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, alias!
          Consectetur inventore nihil ab qui fugiat quisquam, accusantium
          laudantium, nemo reprehenderit cumque similique velit distinctio omnis
          fugit nulla. Eligendi, nam?
        </p>

        <h2>O que eu uso?</h2>

        <ul class="items-list">
          <li><strong>Computador principal:</strong> Lenovo/Macbook pro...</li>
          <li><strong>SO do Smartphone:</strong> Android/iOS...</li>
          <li><strong>Sistema operacional:</strong> Windows/Linux...</li>
          <li><strong>Editor de texto:</strong> VSCode/Atom/VIM...</li>
          <li><strong>Tema do editor:</strong> Dracula/Gruvbox...</li>
          <li><strong>Fonte do editor:</strong> Ubuntu mono/Fira code...</li>
          <li>...</li>
        </ul>

        <div class="social">
          <a href="https://pt-br.facebook.com/zuck" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/instagram/" target="_blank"><i class="fab fa-instagram-square"></i></a>
          <a href="https://github.com/github" target="_blank"><i class="fab fa-github-square"></i></a>
          <a href="https://twitter.com/twitter" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <img
          src="../../assets/images/logo-hacktoberfest.png"
          class="hack-image"
          alt="Logo do evento Hacktoberfest 2020"
        />
        <img
          src="../../assets/images/logo-nh.png"
          class="nh-image"
          alt="Logo em formato de casa indicando a nata house"
        />
      </div>
    </footer>
  </body>
</html>
